// .wow {
//   visibility: hidden;
// }
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
//@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
//@import "primary/comments";

@import url("fonts/fonts.css");
/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/*html, body {height: 101%;overflow: auto;}*/
body {
	line-height: 1;
	font-family: 'Source Sans Pro', sans-serif;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
.clear{clear:both;}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}


/* = Repeatable patterns
-------------------------------------------------------------- */

/* Small headers */
.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
	font-size: 11px;
	line-height: 2.181818182;
	font-weight: bold;
	text-transform: uppercase;
	color: #636363;
}

/* Shared Post Format styling */
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {
	font-size: 11px;
	line-height: 2.181818182;
}

/* Form fields, general styles first */
button,
input,
textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	padding: 6px;
}
button,
input {
	line-height: normal;
}
textarea {
	font-size: 100%;
	overflow: auto;
	vertical-align: top;
}

/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Buttons */
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
.bypostauthor cite span {
	padding: 6px 10px;
	font-size: 11px;
	line-height: 1.428571429;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	// background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	// background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	// background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	// background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	// background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
article.post-password-required input[type=submit]:hover {
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	// background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	// background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	// background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	// background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	// background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	color: #757575;
	background-color: #e1e1e1;
	// background-repeat: repeat-x;
	// background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	// background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	// background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	// background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	// background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	// box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border-color: transparent;
}
.bypostauthor cite span {
	color: #fff;
	background-color: #21759b;
	background-image: none;
	border: 1px solid #1f6f93;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
/*	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
}
.btn {
	width: auto;
	display: inline-block;
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $tabwidth) {
		
	}
	a {
		text-decoration:none;
		color:#333333;
		font-size:12px;
		font-weight:bold;
		padding:10px 35px;
		line-height:32px;
		height: auto;
		display:inline-block;
		text-align:center;
		width: auto;
		@media screen and (min-width: $tabwidth) {
			font-size:10px;
			padding:5px 25px;
			line-height:22px;
		}
		@media screen and (min-width: $tabwidth) {
			font-size:12px;
			padding:10px 35px;
			line-height:32px;
		}
	}
}
.pillwhite {

	a {
		border: {
			color:rgba(#fff, 1);
			width: 1px;
			style: solid;
		}
		background-color:rgba(#fff, 0);
		
		color: rgba(#fff, 1);
		border-radius: 500px;
		background: linear-gradient(to right, rgba(#fff, .7) 50%, rgba(#fff, 0) 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		@include transition(all .2s ease);
		font-size: 2rem;
		&:hover {
			// background-color: rgba(#fff, 1);
			background-position:left bottom;

		}
		@media screen and (min-width: $tabwidth) {
			font-size: 1.2rem;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 2rem;
		}
	}
}
/* Navigation */
.site-content nav {
	clear: both;
	line-height: 2;
	overflow: hidden;
}
#nav-above {
	padding: 24px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-single + .comments-area,
#comment-nav-above {
	margin: 48px 0;
}

/* Author profiles */
.author .archive-header {
	margin-bottom: 24px;
}
.author-info {
	border-top: 1px solid #ededed;
	margin: 24px 0;
	padding-top: 24px;
	overflow: hidden;
}
.author-description p {
	color: #757575;
	font-size: 13px;
	line-height: 1.846153846;
	@media screen and (min-width: $tabwidth) {
		float: right;
		width: 80%;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.author.archive .author-info {
	border-top: 0;
	margin: 0 0 48px;
}
.author.archive .author-avatar {
	margin-top: 0;
	@media screen and (min-width: $tabwidth) {
		float: left;
		margin-top: 8px;
	}
	@media screen and (min-width: $deskwidth) {

	}
}


/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */
html {
	font-size: 87.5%;
}
body {
	font-size: 14px;
	font-family: $font-source;
	text-rendering: optimizeLegibility;
	color: #444;
	
}
body.custom-font-enabled {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
a {
	outline: none;
	// color: #21759b;
	color: $color-blue;
}
a:hover {
	color: #0f3647;
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:focus {
	background: #fff;
	border: 2px solid #333;
	border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 12px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
}

/* Page structure */
.site-header {
	width: 100%;
	overflow: hidden;
	padding: 0 0 0px 0;	
	position: relative;
	z-index:1;
	@media screen and (min-width: $tabwidth) {
		// height: 150px;	
		// padding: 0 0 20px 0;
	}
	@media screen and (min-width: $deskwidth) {
		// height: 120px;
	}
	h1,
	h2 {
		text-align: left;
	}
	h1 {
		font-size: 26px;
		line-height: 1.846153846;
		margin-bottom: 0;
	}
}
.site {
	padding: 0px;
	background-color: #fff;
	@media screen and (min-width: $tabwidth) {
		margin: 0 auto;
		overflow: hidden;
	}
	@media screen and (min-width: $deskwidth) {
		padding: 0 0px;
	}
}
#main {
	padding:0px ;	
	@media screen and (min-width: $tabwidth) {
		margin-top: 0px;	
	}
	@media screen and (min-width: $deskwidth) {
		margin-top: 0px;
		padding: 0px 0;
	}
}
#primary {
	padding: 20px;	
	@media screen and (min-width: $tabwidth) {
		padding: 40px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.wrapper {
	@media screen and (min-width: $tabwidth) {
		width: 90%;
		margin: 0px auto;
	}
	@media screen and (min-width: $deskwidth) {

	}
}

.site-content {
	margin: 24px 0 0;
	@media screen and (min-width: $tabwidth) {
		margin: 0;	
		float: left;
		width: 65.104166667%;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.site-content-news {
	margin: 24px 0 0;
	@media screen and (min-width: $tabwidth) {
		margin: 0;	
		float: left;
		width: 70.104166667%;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.news-bottom-block {
	width: 100%;
	display: inline-block;
	float: right;
	margin: 0 0px 0 0;
	padding: 20px;
	background-color: #fff;	
}
#secondary {
	margin: 24px 0 0;
	padding: 20px;
	@media screen and (min-width: $tabwidth) {
		float: right;
		width: 23.041666667%;
		padding: 0 2% 0 2%;
		margin: 110px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
#secondary-news {
	margin: 24px 0 0;
	padding: 20px;
	@media screen and (min-width: $tabwidth) {
		float: right;
		width: 18.041666667%;
		padding: 0 2% 0 2%;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.widget-area {
	
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		text-align: left;
	}
	@media screen and (min-width: $deskwidth) {

	}
	li {
		margin: 0 0 0 20px;
		list-style: none;	
	}
	a {
		text-decoration: none;	
	}
}


/* Social */
#sociallinks {
	position: relative;
	float: right;
	z-index: 6;	
	text-align: left;
}
.social {
	width: auto;
	display: inline-block;
	margin: 0 10px 0 0;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin: 0 3px 0 3px;
		padding: 0;
		@media screen and (min-width: $tabwidth) {
			margin: 0 0 0 5px;
		}
	}
	i {
		width: auto;
		height: auto;
		position: relative;
		color: #fff;
		font-size: 35px;
		transform: scale(.8);
		@include transition(all ease .3s);
		&:hover {
			transform: scale(1);
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	// &.social-head {
	// 	i {
	// 		color: $color-teal;
	// 	}
	// }
	// &.social-footer {
	// 	i {
	// 		color: $color-dark-gray;
	// 	}
	// }
}
#topwrap {
	width: 100%;
	// float: left;
	// background
	@include linearGradient();
	@include transition(all ease .3s);
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		// position: fixed;
		// top: 0;
		// z-index: 9998;
	}
	
}
.fix-nav {
	position: fixed;
	top: 0;
	z-index: 9998;
	.logo {
		margin: 20px 0;
	}
	.header-right {
		margin: 0;
	}
	.main-navigation ul {
		@media screen and (min-width: $tabwidth) {
			margin: 0;
		}
	}
}
/* Logo */
// .logo , h1.logo {
// 	/*width: 170px;
// 	height: 60px;*/
// 	width: 230px;
// 	height: 81px;
// 	background-image: url(images/logo.png);	
// 	z-index: 1000;
// 	margin: 10px auto;
// 	background-size:cover;
// }
// .logo a, h1.logo a{
// 	/*width: 170px;
// 	height: 60px;*/
// 	width: 230px;
// 	height: 81px;
// 	display: block;
// 	text-indent: -9000px;
// }
p {
	margin: 0 0 25px 0;
	line-height: 1.5;
}
.logo , h1.logo {
	
	width: 200px;
	// height: 39px;
	
	// background: {
	// 	image: url(images/logo-new-white.png);	
	// 	size: cover;
	// }
	font-size: 0;
	line-height: 0;
	margin: 40px auto;
	@include transition(all ease .3s);

	@media screen and (min-width: $tabwidth) {
		width: 280px;
		// height: 54px;
		float: left;
		margin: 10px 0 10px 0;
	}
	@media screen and (min-width: $deskwidth) {
		margin: 40px 0 10px 0;
		width: 300px;
		// height: 58px;
	}
}
.logo a, h1.logo a {
	width: 200px;
	// height: 39px;
	display: block;
	// text-indent: -9000px;
	@include transition(all ease .3s);

	@media screen and (min-width: $tabwidth) {
		width: 280px;
		// height: 54px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 300px;
		// height: 58px;
	}
}
.header-right {
	width: 100%;
	position: relative;
	margin: 10px auto 0px auto;
	text-align:center;
	z-index: 1;
	@include transition(all ease .3s);
	@media screen and (min-width: $midwidth) {
		
		// height: 200px;
		position: absolute;
		margin: 10px 10px 0 0 ;
		top: 0;
		text-align:right;
		overflow:hidden;
	}
	@media screen and (min-width: $deskwidth) {
		width: auto;
		float: right;
		margin: 20px 0 0 0;
		position: relative;
		// height: 120px;
	}
}
.header-address {
	font-size: 12px;
	width: 100%;
	text-align: center;
	color: #CCC;
	font-style: italic;
	margin: 10px auto;
	// font-family: GauthierFY-Italic;
	font-weight: normal;
	font-style: normal;
	@media screen and (min-width: $tabwidth) {
		width:auto;
		text-align: right;
		display: none;
		margin: 22px 150px 0 0px;
		float: right;	
	}
	@media screen and (min-width: $deskwidth) {
		width: 100%;
		float: right;
		margin: 20px 0px 0 0px;
		display: inline-block;
	}
}
.teleephone {
	width: auto;
	display: inline-block;	
	color: #fff;
	font: {
		size: 18px;
		family: $font-source;
		weight: 300;
	}
	margin: 0px 0 0px 0;
	width: 100%;
	
	@media screen and (min-width: $tabwidth) {
		width: auto;
		margin: 0 0px 0 0px;
		position: relative;
		font-size: 16px;
		position: relative;
		float: right;
	}
	@media screen and (min-width: $midwidth) {

	}
	@media screen and (min-width: $deskwidth) {
		font-size: 20px;
	}
	a {
		text-decoration: none;
		color: #fff;
		padding: 12px 10px 12px 10px;
		display: inline-block;
		line-height: 2;
		@media screen and (min-width: $tabwidth) {
			padding: 0px 10px 12px 10px;
			line-height: 1;
		}
		@media screen and (min-width: $midwidth) {
			padding: 12px 10px 12px 10px;
			line-height: 2;
		}
	}
}



.why-work 
.portblock:hover,
.newsblock:hover,
.newsblock-full:hover,
.staff:hover
{
-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);	
}
.side-subpage:hover, .side-subpage a.active
{
-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.4);	
border-bottom: 3px solid $color-blue;
}
.button {
	a {
		width: auto;
		background-color: $color-green;
		border-radius: 5px;
		display: inline-block;
		padding: 10px 30px ;
		color: #fff;
		font-size: 22px;
		text-decoration: none;
		border-bottom: 5px solid $color-green;
		@include transition(all ease .3s);
		&:hover {
			background-color: rgba($color-green, .7);
		}
	}
}
/*
*  Process 
-------------------------------------*/
.phase {
	width: 100%;
	clear:both;
	position: relative;
	overflow: hidden;
	margin-bottom: 5px;	
}
.phase-title {
	width: 100%;
	text-align: center;
	background-color: #F4F4F4;
	padding: 5px 0 5px 0;
	color: #5DA135;
	font-size: 14px;
	border-radius: 5px;	
	overflow: hidden;
	margin-bottom: 50px;
	// font-family: GauthierFY-Italic;
}
.step-full {
	width: 100%;
	margin: 0% 0 30px 0;	
	overflow: hidden;
	// font-family: GauthierFY-Italic;
	text-align: center;
}
.step {
	width: 28%;
	margin: 0% 2% 30px 2% ;	
	overflow: hidden;
	// font-family: GauthierFY-Italic;
	float: left;
	text-align: center;
}
.step-number {
	width: 30px;
	height:30px;
	border-radius: 50%;
	background-color: #5DA135;
	color: #fff;
	margin: 0px auto 10px auto;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
}
.step-title {
	color: $color-blue;
	// font-family: $font-noto;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 10px;
}
.step-desc {
	color: #2C5876;
	font-size: 16px;
}


/* = Navigation
-------------------------------------------------------------- */
// .main-navigation {
// 	margin-top: 24px;
// 	text-align: center;
// }
// .menu-toggle {
// 	margin-bottom: 0px;
// 	background-color: #999;
// 	color: #fff;
// 	padding: 20px 0px 20px 0px;
// 	font-weight: normal;
// 	font-size: 18px;
// 	width: 100%; 
// 	text-align: center;
// }
// .menu-toggle:active,
// .menu-toggle.toggled-on {
// 	background-color: #eee;
// 	color: #999;
// }
// .main-navigation ul.nav-menu,
// 	.main-navigation div.nav-menu > ul {
// 	margin: -40px 0 20px 0;
// 	background-color: #999;
// 	/*border-top: 3px solid #eee;	
// */	width: 100%;
// 	display: none;
// 	padding: 0px 0 0px 0;
// }
// .main-navigation li {
// 	font-size: 18px;
// 	margin: 0px 0 0px 0;
// 	width: 100%;
// 	display: block;
// }
// .main-navigation li a {
// 	text-decoration: none;
// 	color: #fff;
// 	padding: 12px 0 12px 0;	
// 	border-top: 1px solid #eee;
// 	display: block;
// }
// .main-navigation ul.nav-menu.toggled-on,
// .menu-toggle {
// 	display: inline-block;
// }
/* = Staff
-------------------------------------------------------------- */
.about-content {
	width: 100%;
	margin: 0 0 30px 0;	
	word-wrap: break-word;
	-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
    @media screen and (min-width: $tabwidth) {
    	width: 22%;
		margin: 0 0 30px 0;
		float: left;
		margin: 0 3% 3% 0;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.staff {
	width: 100%;	
	text-align: center;
	background-color: rgba(255,255,255,.8);
	position: relative;
	overflow: hidden;
	@media screen and (min-width: $tabwidth) {
		/*width: 28%; version 2 */
		/*width: 22%;* 3 across */
		width: 22%;/* 4 across */
		float: left;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 28%; version 2 */
		/*width: 22%;* 3 across */
		width: 16%;/* 4 across */
	}
}
.staff .staff-content .readmore, .staff .staff-content .readmore > a {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0px;
    z-index: 900;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0 !important;
}
.staff-1, .staff-2, .staff-3 {
	margin: 0 0% 30px 0;	
}
.staff-1 {
	
	@media screen and (min-width: $tabwidth) {
		margin: 0 3% 3% 0;	
	}
	@media screen and (min-width: $deskwidth) {
		margin: 0 3% 3% 0;
	}
}
.staff-3 {
	
	@media screen and (min-width: $tabwidth) {
		margin: 0 3% 3% 0;	
	}
	@media screen and (min-width: $deskwidth) {
		margin: 0 0% 0% 0;	
	}
}
/*.staff-1 {background-color: #eee;}*/
.staff img {
	width: 100%;	
}
.staff-content {
	width: auto;
	padding: 10px 10px 40px 10px;
	line-height: 1.3;
}
.entry-content .staff-content h3 {
	// font-family: $font-noto;
	// font-family: 'Arimo', sans-serif;	
	font-size: 22px;
	color: #333;
	margin: 0 0 10px 0;
	line-height: 1.3;
}
.jobtitle {
	font-size: 14px;
	color: #666;
	margin: 0 0 10px 0;
}
.staff-email {
	font-size: 12px;
	color: #666;
	margin: 0 0 10px 0;
	position: relative;
	z-index:1000;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {

	}
	a {
		display: block;
		padding: 3px 5px;
		background-color: #fff;
		transition: all 0.3 ease;
		color: $color-blue;
		&:hover {
			text-decoration: none;
			background-color: $color-blue;
			color: #fff;
		}
	}
}

.staff-readmore {
	width: auto;
	
	margin: 0 0 10px 0;
}
.staff-readmore a {
	width: auto;
	display: inline-block;
	margin: 0 0 10px 0;
}
.single-about-middle {
	width: 100%;
	float:left;
	margin: 0 0 30px 0;
	@media screen and (min-width: $tabwidth) {
		width: 60%;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.single-about-right {
	width: 100%;
	margin: 0 0 30px 0;
	float: right;
	@media screen and (min-width: $tabwidth) {
		width: 30%;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.staff-circle {
	width: 80px;
	height: 80px;
	border-radius:50%;	
	margin: 10px;
	position: relative;
	float: left;
}
.staff-circle img {
	width: 100%;
	border-radius:50%;	
}
.staff-circle-content {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	border-radius:50%;	
	text-align: center;
}
.staff-circle-content a {
	width: 100%;
	height: 100%;
	border-radius:50%;	
	display: block;
	color: #fff;
	background-color: rgba(0,0,0,.7);
	opacity: 0;	
	text-decoration: none;
	transition: opacity 0.3s ease;	
}
.staff-circle-content a:hover {
	opacity: 1;	
}
.staff-circle .staff-circle-content h3 {
	text-align: center;
	width: 90%;
	position: absolute;
	top: 20px;
	left: 5%;
	// font-family: GauthierFY-Regular;
	font-weight: normal;
}
.single-about-right h2 {
	margin: 0 0 10px 0;
  color: #6ea01b;
  font-size: 20px;
  // font-family: $font-noto;	
}
/* Banner */
section[role="banner"] {
	margin-bottom: 48px;
}
/* = Web Dev
-------------------------------------------------------------- */
.side-subpage {
	margin: 0 0 20px 0;
	line-height: 1.3;
	border-bottom: 3px solid #fff;
	a {
		padding: 10px;
		background-color: rgba(255,255,255,.7);
		display: block;
		color: #999;
		text-decoration: none;
		&:hover {
			background-color: rgba(255,255,255,1);
		}
	}
	h3 {
		// font-family: $font-noto;
		font-size: 18px;
		font-weight: normal;
		border-bottom: 1px solid #999;
		color: #2E5975;
		padding: 0 0 5px 0;
		margin: 0 0 10px 0;
	}
	
}
.next-service-link, .next-service-link a {
	width: 50px; 
	height:50px;
	border-radius: 50%;
	// font-family: GauthierFY-Regular;
	font-size: 60px;
}
.next-service-link{
	margin: 50px auto;
	a {
		display: block;
		background-color: rgba(110,160,27, .7);	
		transition: all 0.3s ease;
		color: #fff;
		text-align: center;
		line-height: 50px;
		text-decoration: none;
		&:hover {
			background-color: rgba(110,160,27, 1);	
		}
	}
}	
.next-service-link 
/* = Contact
-------------------------------------------------------------- */
.side-contact {
	
}
.side-contact-item {
	margin: 0 0 30px 0;
}
.side-contact-item p {
	margin: 0 0 20px 0;
	line-height: 1.3;
	font-size: 16px;
}
.side-contact-item h2 {
	margin: 0 0 10px 0;
	color: #6ea01b;
	font-size: 20px;
	// font-family: $font-noto;
}
.google-map {
	margin: 0 0 30px 0;
	@media screen and (min-width: $tabwidth) {
		margin: 0 0 30px 0;
		float: left;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.contact-form {
	margin: 0 0 30px 0;
	@media screen and (min-width: $tabwidth) {
		width: 100%;
		margin: 0 0 50px 0;
		float: left;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.contact-body {
	padding: 10px 20px 20px 20px;
	background-color: rgba(255,255,255,.8);	
}
.contact-body:hover {
	background-color: rgba(255,255,255,1);	
}
/* = News
-------------------------------------------------------------- */
.newsblock-full {
	width: 100%;
	margin: 0 0 50px 0;	
	position: relative;
	padding-bottom: 30px;
	@media screen and (min-width: $tabwidth) {
		width: 43%;
		float: left;
		margin: 0 0 50px 0;	
	}
	@media screen and (min-width: $deskwidth) {
		width: 47%;
	}
	.image-wrap {
		width: 30%;
		float: left;
		padding: 2%;
	}
	.news-content {
		padding: 4%;
		background-color: #fff;
		overflow: hidden;
		width: 58%;
		float: left;
		font-size: 14px;
		color: $color-text-grey;
		line-height: 1.2;
	}
	img {
		width: 100%;
	}
	a {
		display: block;
		text-decoration:none;
		color: $color-blue;
	}
	
	h2 {
		margin: 0px auto 15px auto;
		display: inline-block;
		width: auto;
		position: relative;
		font-size: 12px;
		text-align: left;
		color: $color-blue;
		font-weight: normal;

		@media screen and (min-width: $tabwidth) {
			font-size: 16px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 20px;
		}
		a {
			text-decoration:none;
			color: $color-blue;
		}

		// &:after {
		// 	content : "";
		// 	position: absolute;
		// 	left    : 0%;
		// 	bottom  : -15px;
		// 	height  : 1px;
		// 	width   : 50%;  /* or 100px */
		// 	border-bottom:3px solid $color-blue;
		// 	clear: both;
		// }
	}
	p {
		
	}
	&:hover {
		.read {
			background-color: rgba($color-green,1);
		}
	}
}
.newsblock {
	width: 100%;
	margin: 0 0 30px 0;	
	position: relative;
	@media screen and (min-width: $tabwidth) {
		width: 45%;
		float: left;
		margin: 0 0 30px 0;
	}
	@media screen and (min-width: $deskwidth) {

	}
	img {
		width: 100%;
	}
	a {
		display: block;
		text-decoration:none;
		color: #999;
	}
}


.read {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	left:0;
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 10px 0;
	background-color: rgba(25,94,170,.7);
	transition: all .3s ease;
	a {
		text-decoration: none;
		color: #fff;
		
	}
}
.portblock:hover .read,
.newsblock:hover .read,
.newsblock:hover-full .read,
.staff:hover .read
 {
	background-color: rgba(25,94,170,1);
}
.read-port {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	left:0;
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 10px 0;
	background-color: rgba(25,94,170,.0);
	transition: all .3s ease;
	opacity: 0;
}
.read-port a {
	text-decoration: none;
	color: #fff;
	
}

/* = BG Colors
-------------------------------------------------------------- */
.bgcolor-beige {
	background-color: #f5f5f5;
}
.bgcolor-grey {
	background-color: #FAFAFA;	
}
// .portblock,
.newsblock,
.newsblock-full,
.staff
{
-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
transition: box-shadow 0.3s ease;	
}

.side-subpage
{
-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
transition: all 0.3s ease;	
}
/* = Portfolio
-------------------------------------------------------------- */
#filters {
	margin: 0 0 20px 0;	
}
button.portbutton {
	width: auto;
	display: inline-block;
	margin:0 2px 0 0;
	padding: 15px 20px;
	background-color:rgba(95,160,61,1);	
	color: #fff;
	border: 0px;	
	box-shadow :none;
	text-shadow: none;
}
button.portbutton:hover {
	background-color:rgba(95,160,61,.7) !important;
	cursor:pointer;	
	background-image:none;
}

.port-img {
	position: relative;
	overflow: hidden;
}
.port-img img {
	width: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.portblock:hover img {
	// opacity: .1;
	// -webkit-transform: scale(1.15);
	// transform: scale(1.15);
}
.port-img-hover {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height:100%;
	overflow: hidden;
	opacity: 0;	
	// background-color: rgba(46,89,117,.9);
	background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    background-image: -webkit-linear-gradient(260deg, $color-blue 0%, $color-green 100%);
    background-image: linear-gradient(-170deg, $color-blue 0%, $color-green 100%);	
	color: #fff;
	font-size: 16px;
	text-align: center;
	z-index: 10000;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.port-plus {
	// background-image: url(images/open.png);
	// background-repeat: no-repeat;
	// background-position: center 40px;
	// background-size: 20px 20px;	
}
.nobg {background-image: none;}
.portblock:hover .port-img-hover {
	opacity: 1;	
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}
.port-img-hover h2 {
	width: 70%;
	display: inline-block;
	margin: 25% auto 0 auto;
	font-weight: normal;
	padding: 10px;
	border: 1px solid #fff;
	text-align: center;
	opacity: 1;
	
}
.port-img-hover h3 {
	width: 70%;
	display: inline-block;
	margin: 10% auto 0 auto;
	font-weight: normal;
	padding: 10px;
	border: 1px solid #fff;
	text-align: center;
	opacity: 1;
	
}
.seemore {
	margin-top: 35%;	
}

.portblock .port-content .readmore, .portblock .port-content .readmore > a,
.portblock .port-content .readmore, .portblock .port-content .readmore > a {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0px;
   z-index: 10001;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0 !important;
}
.port-excerpt {
	width: 80%;
	font-size: 12px;
	line-height: 1.3;
	margin: 20px auto 0 auto;	
}
/* = Portfolio Single
-------------------------------------------------------------- */
.single-port-copy{
	width: 100%;
	margin: 0 0 30px 0;
	@media screen and (min-width: $tabwidth) {
		width: 30%;
		margin: 0 0 30px 0;
		float: left;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.single-port-gallery {
	width: 100%;
	margin: 0 0 30px 0;
	@media screen and (min-width: $tabwidth) {
		width: 60%;
		margin: 0 0 30px 0;
		float: right;
	}
	@media screen and (min-width: $deskwidth) {

	}
	.portblock {
		width: 100%;
		float: left;
		margin: 0 0 40px 0;	
		opacity: 1;
		cursor: pointer;
		@media screen and (min-width: $tabwidth) {
			width: 24%;
			// width: 40%;
			float: left;
			margin: 0 0 40px 0;	
		}
		@media screen and (min-width: $deskwidth) {

		}
		a {
			z-index: 10001;
		}
		&:hover {opacity: 1;}
	}
}
.work-gallery {
	width: 80%;
	margin: 0 auto;
	.portblock {
		width: 100%;
		// float: left;
		position: relative;
		margin: 0 0 60px 0;	
		opacity: 1;
		cursor: pointer;
		background-color: rgba(232,232,232, 0);
		@media screen and (min-width: $tabwidth) {
			// width: 29%;
			width: 45%;
			// float: none;
			margin: 0 0 40px 0;	
		}
		@media screen and (min-width: $deskwidth) {

		}
		a {
			z-index: 10001;
		}
		&:hover {

		}
		.below {
			width: 100%;
			// background-color: #fff;
			// border-top: 2px solid #333;
			padding: 5% 0;
			text-align: center;
			h2 {
				font: {
					size: 20px;
					weight: 300;
				}
			}
		}
		.portfolio-link a {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			text-indent: -9000px;
		}
		&.left {
			float: left;

		}
		&.right {
			float: right;
		}
	}
}
.port-image {
	margin-bottom: 30px;
	@media screen and (min-width: $tabwidth) {
		width: 28%;
	}
	@media screen and (min-width: $deskwidth) {

	}

	a {
		display: block;
	}
}
.port-image img {
	width: 100%;
}
.single-proj-nav {
	text-align: center;
	margin-bottom: 30px;
}
h3.nextproj {
	width: auto;
	display: inline-block;
	margin: 0 auto 20px auto;
	line-height: 1;	
	// font-family: $font-noto;
	font-size: 14px;	
}
h3.moreproj a {
	margin: 0px 0 20px 0;
	line-height: 1;	
	// font-family: $font-noto;
	font-size: 14px;
	  padding: 10px 15px;
  background-color: rgba(110,160,27,.7);
  transition: background-color 0.3s ease;
  color: #fff;
  text-decoration: none;
}
h3.moreproj a:hover {
  background-color: rgba(110,160,27,1);
}
.prevpost, .nextpost {
	width: auto;
	display: inline-block;
	font-size: 12px;
}
.prevpost {
	float: right;
}
.nextpost {
	float: left;
}
.prevpost a, .nextpost a {
	padding: 12px 10px ;
	background-color: rgba(110,160,27,.7);
	transition: background-color 0.3s ease;
	color: #fff;
	text-decoration:none;
}
.prevpost a:hover, .nextpost a:hover {
	background-color: rgba(110,160,27,1);
}
.website-link {
	width: auto;
	display: inline-block;
	margin: 10px 0 20px 0;
}
.website-link a {
	padding: 10px 15px ;
	background-color: rgba(110,160,27,.7);
	transition: background-color 0.3s ease;
	color: #fff;
	text-decoration:none;
}
.website-link a:hover {
	background-color: rgba(110,160,27,1);
}

.meta {
	width: 100%;
	display: inline-block;
	padding: 5px 0 5px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	line-height: 1.4;
	margin: 10px 0 20px 0;
}
.meta a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	color: #666;
	transition: color 0.3s ease;
}
.meta a:hover {
	color: rgba(110,160,27,1);
}
.metaitem {
	margin: 5px 0 5px 0;	
}
.port-extra {
	width: 65px;
	height: 65px;
	float: left;
	margin: 0 10px 10px 0;
	position: relative;
}
.port-extra-hover {
	background-color: rgba(0,0,0,.0);
	position: absolute;
	top: 0px;
	left:0px;
	width: 65px;
	height: 65px;	
	transition: all 0.3s ease;
}
.port-extra-hover h3 {
	text-align: center;
	margin: 10px 0 0 0;
	font-size: 10px;
	color: #fff;	
	opacity: 0;
	transition: all 0.3s ease;
	font-weight:normal;
}
.port-extra-hover h3 a {
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	font-weight:normal;
}
.port-extra a {
	display: block;
}
.port-extra a:hover .port-extra-hover {
	background-color: rgba(0,0,0,.7);
}
.port-extra a:hover .port-extra-hover h3 {
	opacity: 1;
}
.port-extra img {
	width: 100%;	
}
/* Sidebar */
.side-left {
	float: left;
	width: 24.041666667%;
	padding: 0 1% 0 1%;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {

	}
	img {
		width: 100%;
	}
}

.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	// margin-top: 40px;
	margin-bottom: 28px;
	word-wrap: break-word;
}
.widget-area .widget h3 {
	margin: 0 0 10px 0;
  color: #6ea01b;
  font-size: 20px;
  // font-family: $font-noto;
}
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
	font-size: 16px;
	line-height: 1.846153846;
}
.widget-area .widget p {
	margin-bottom: 24px;
}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 24px;
}
.widget-area .textwidget li {
	margin-left: 36px;
}
.widget-area .widget a {
	color: #757575;
	transition: color 0.3s ease;
	&:hover {
		color: $color-blue;
	}
}

.widget-area #s {
	width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}

/* Footer */
footer[role="contentinfo"] {
	width: 100%;
	clear: both;
	font-size: 12px;
	line-height: 2;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0;
	text-align: center;
	background-color: rgba(200,194,189, .3);
	overflow: hidden;
	@include linearGradient();
	color: #fff;
}
footer[role="contentinfo"] a {
	color: #686868;
}
footer[role="contentinfo"] a:hover {
	color: #21759b;
}
.footer-text {
	width: 100%;
	margin: 10px auto;
	padding: 15px;
	text-align: center;
	font-size: 16px;
	@media screen and (min-width: $tabwidth) {
		
		padding: 7px 10px 0 0;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
/* = Pages and Page Templates
-------------------------------------------------------------- */
/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
}
.hsContent {
    max-width: 450px;
    margin: -10px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 100%;
    width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {
	height: 150px;
}

#home-intro .bcg {
	height: 150px;
	padding: 0px 0 0px 0;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {
		height: 250px;
		padding: 40px 0 40px 0;
	}
}
.newswrap {
	width: 100%;
	position: relative;
	overflow: hidden;
	@media screen and (min-width: $tabwidth) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}
}
.site-content article {
	border-bottom: 4px double #ededed;
	margin-bottom: 72px;
	padding-bottom: 24px;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	@media screen and (min-width: $tabwidth) {
		width: 45%;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.page-links {
	clear: both;
	line-height: 1.714285714;
}
footer.entry-meta {
	margin-top: 24px;
	font-size: 13px;
	line-height: 1.846153846;
	color: #757575;
}
.single-author .entry-meta .by-author {
	display: none;
}
.mu_register h2 {
	color: #757575;
	font-weight: normal;
}


/* =Archives
-------------------------------------------------------------- */

.archive-header,
.page-header {
	margin-bottom: 48px;
	padding-bottom: 22px;
	border-bottom: 1px solid #ededed;
}
.archive-meta {
	color: #757575;
	font-size: 12px;
	line-height: 2;
	margin-top: 22px;
}


/* =Single image attachment view
-------------------------------------------------------------- */

.article.attachment {
	overflow: hidden;
}
.image-attachment div.attachment {
	text-align: center;
}
.image-attachment div.attachment p {
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
.image-attachment .entry-caption {
	margin-top: 8px;
}








/* =Comments
-------------------------------------------------------------- */

.comments-title {
	margin-bottom: 48px;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
}
.comments-area article {
	margin: 24px 0;
}
.comments-area article header {
	margin: 0 0 48px;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 85px;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	line-height: 1.42857143;
}
.comments-area cite b {
	font-weight: normal;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #21759b;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area .bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	padding: 2px 5px;
	font-size: 10px;
}
.comments-area .bypostauthor cite b {
	font-weight: bold;
}
a.comment-reply-link,
a.comment-edit-link {
	color: #686868;
	font-size: 13px;
	line-height: 1.846153846;
}
a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #21759b;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
}

/* Comment form */
#respond {
	margin-top: 48px;
}
#respond h3#reply-title {
	font-size: 16px;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	font-weight: normal;
	font-size: 12px;
}
#respond form {
	margin: 24px 0;
}
#respond form p {
	margin: 11px 0;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 1.714285714;
	padding: 10px;
	width: 100%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	line-height: 2;
	color: #5e5e5e;
}
.required {
	color: red;
}




/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget ul ul {
	margin-left: 12px;
}
.widget_rss li {
	margin: 12px 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	margin-left: 12px;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 24px;
	text-align: right;
}
.widget_search label {
	display: block;
	font-size: 13px;
	line-height: 1.846153846;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}


/* =Plugins
----------------------------------------------- */

img#wpstats {
	display: block;
	margin: 0 auto 24px;
}


/* =Media queries
-------------------------------------------------------------- */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See http://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/*	Portfolio Colorbox
__________________________________
*/
#cboxLoadedContent {
	text-align: center;
	
}
.inline_content {
	width: auto;
	display: inline-block;
	margin: 0px auto;
	height: 90%;
	display: block;
	overflow: hidden;	
	padding: 10px 0 10px 0;
}
.inline_content img {height: 100%;}
#cboxLoadedContent {padding: 10px 0 10px 0;}
img.cboxPhoto, img.not-mobile {
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
}
img.mobile {
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.0);
-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.0);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.0);
}
/*

	Pricing Grid for Hosting

*/
.pricing-grid {
	
	max-width: 100%;
	margin: 0 auto;
  	@media screen and (min-width: $tabwidth) {
  		display: flex;
	}
	@media screen and (min-width: $deskwidth) {

	}
	.plan {
		
		background-color: rgba(255,255,255, 0.9);
		margin: 10px;
		text-align: center;
		border-radius: 4px;
		border: 1px solid rgba(0,0,0,.4);
		
		@media screen and (min-width: $tabwidth) {
			flex: 1;
			display: flex;
			flex-wrap: wrap;
    	}
    	@media screen and (min-width: $deskwidth) {

    	}


		h2 {
			font-size: 20px;
			background-color: $color-green;
			color: #fff;
			margin: 0px 0 10px 0;
			padding: 10px;
			border-radius: 4px;
		}
		h3 {
			font-size: 16px;
			color: $color-green;
			margin: 10px 0;
			padding: 10px;
			line-height: 1.1;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			margin: 0 0 5px 0;
			padding: 0 5px;
			border-bottom: 1px solid #ccc;
			.first {
				text-transform: capitalize;
				color: rgba(0,0,0,.6);
			}
		}
		.price {
			
		}
		& a.cta {
			width: 100%;
			display: block;
			background-color: rgba($color-green,1);
			@include transition(all ease .3s);
			color: #fff;
			padding: 20px 0;
			text-decoration: none;
			@media screen and (min-width: $tabwidth) {
				align-self: flex-end;
			}
			&:hover {
				background-color: rgba($color-green,.5);
			}
		}
		& > * {
			
			@media screen and (min-width: $tabwidth) {
				flex: 1;
				flex-basis: 100%;
			}
		}
	}
	.most-pop {
		width: auto;
		position: absolute;
		top: -50px;
		right: 0;
	}
}
