.main-navigation {
	margin-top: 24px;
	text-align: center;

	@media screen and (min-width: $midwidth) {
		// width: 100%;
		// clear: both;
		// margin: 0;
		// margin: 100px 0px 0 0;
		width: auto;
		clear: none;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		width: auto;
		clear: none;
		// margin: 34px 10px 0 0;
		float: right;
	}

	ul {
		// display: none;
		// list-style: none;
		// margin: 0;
		// padding-left: 0;
		margin: -0px 0 20px 0;
		background-color: #999;
		width: 100%;
		display: none;
		padding: 0px 0 0px 0;
		@include transition(all ease .3s);

		@media screen and (min-width: $tabwidth) {
			display: inline-block !important;
			text-align: center;
			width: 100%;
			border-top: 0px;
			background-color: rgba(255,255,255, 0.0);
			padding: 0px 0 0 0;
			margin: 0 0 20px 0;
			text-indent: 0;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: 100%;
			display: none;
			z-index: 99999;

			@media screen and (min-width: $tabwidth) {
				display: none;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 100%;
				z-index: 1;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		font: {
			size: 18px;
			family: $font-source;
			weight: 300;
		}
		margin: 0px 0px 0px 0;
		width: 100%;
		display: inline-block;
		// font: {
		// 	family: $font__heading;
		// 	size: 15px;
		// }
		@media screen and (min-width: $tabwidth) {
			width: auto;
			margin: 0 10px 0 0px;
			position: relative;
			font-size: 16px;
		}
		@media screen and (min-width: $midwidth) {
			// font-size: 14px;
			// float: right;
			margin: 0 10px 0 0px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 20px;
			margin: 0 20px 0 0px;
		}

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		// display: block;
		// text-decoration: none;
		// color: $color-dark-grey;
		// padding: 8px 20px ;
		text-decoration: none;
		color: #fff;
		padding: 12px 10px 12px 10px;	
		border-top: 1px solid #eee;
		display: block;
		@include transition(all .3s ease);

		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			text-decoration: none;
			border-top: 0 solid #eee;
			border-bottom: 0;
			// color: #2E5975;
			line-height: 2;
			white-space: nowrap;
			// transition: color 0.3s ease;
		}
		@media screen and (min-width: $tabwidth) {
			// padding: 8px 10px ;
		}
		@media screen and (min-width: $deskwidth) {
			// padding: 8px 12px ;
		}

		&:hover {
			// background-color: rgba(255,255,255,.3);
			// background-color: #6EA019;
			background-color: rgba(#fff,.2);
			// background-color: rgba(#FA5497,1);
			// color: #fff;
			@media screen and (min-width: $tabwidth) {
				// color: #6EA019;
				// background-color: #fff;
			}


		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// 	background-color: #eee;
// 	color: #999;
// }

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 		margin-bottom: 0px;
// 		background-color: #999;
// 		color: #fff;
// 		padding: 20px 0px 20px 0px;
// 		font-weight: normal;
// 		font-size: 18px;
// 		width: 100%; 
// 		text-align: center;
// 		box-shadow: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }
/* Small menu. */
.menu-toggle {
	display: none;
	margin-bottom: 0px;
	background-color: #999;
	color: #fff;
	padding: 20px 0px 20px 0px;
	font-weight: normal;
	font-size: 18px;
	width: 100%; 
	text-align: center;
	box-shadow: none;
	}
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.main-navigation.toggled ul {
	padding-top: 20px;
}
@media screen and (min-width: $tabwidth) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.main-navigation {
	// margin-top: 24px;
	// text-align: center;
}
.menu-toggle {
	// margin-bottom: 0px;
	// background-color: #999;
	// color: #fff;
	// padding: 20px 0px 20px 0px;
	// font-weight: normal;
	// font-size: 18px;
	// width: 100%; 
	// text-align: center;
}
.menu-toggle:active,
.menu-toggle.toggled-on {
	// background-color: #eee;
	// color: #999;
}
.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
	// margin: -40px 0 20px 0;
	// background-color: #999;
	// width: 100%;
	// display: none;
	// padding: 0px 0 0px 0;
}
.main-navigation li {
	// font-size: 18px;
	// margin: 0px 0 0px 0;
	// width: 100%;
	// display: block;
}
.main-navigation li a {
	// text-decoration: none;
	// color: #fff;
	// padding: 12px 0 12px 0;	
	// border-top: 1px solid #eee;
	// display: block;
}
